/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

@font-face {
  font-family: "Aquire";
  src: url("../fonts/aquirebold-8ma60.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-moz-selection {
  color: #1a1a1a;
  background-color: #87bd25;
}

*::selection {
  color: #1a1a1a;
  background-color: #87bd25;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* End Global Rules */
/* Start Components */
/* End Components */
/* Start Header */
header {
  max-height: 72px;
  position: relative;
  z-index: 1000;
}
header .navbar-brand img {
  width: 200px;
}
header .navbar-toggler {
  border-color: white;
  color: white;
}
header .navbar-toggler:focus {
  box-shadow: none;
  border-color: #87bd25;
}
header .navbar-brand svg {
  color: white;
  font-size: 30px;
}
header .navbar-brand svg:hover {
  color: #87bd25;
}
header .nav-link {
  color: white;
  text-transform: capitalize;
}
header .nav-link:hover, header .nav-link.active, header .nav-link:focus {
  color: #87bd25 !important;
}
header .dropdown-menu {
  background-color: #1a1a1a;
}
header .dropdown-menu a {
  color: white;
  transition: 0.4s;
}
header .dropdown-menu a:hover {
  background-color: #87bd25;
}

/* End Header */
/* Start Land */
.hero {
  position: relative;
  background-color: #191A19;
  height: 100vh;
}
.hero .hero-content {
  overflow: hidden;
  position: relative;
  z-index: 10000;
}
.hero .hero-content .land {
  height: calc(100vh - 72px);
  position: relative;
}
.hero .hero-content .land .content {
  position: relative;
  z-index: 20000;
}
.hero .hero-content .land .content h1 {
  overflow-y: hidden;
  font-family: Aquire;
  font-size: 100px;
  color: #87bd25;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.hero .hero-content .land .content p:last-of-type {
  font-size: 1rem;
  overflow: hidden;
}
.hero .hero-content .land .content a.btn {
  border: 4px solid white;
  color: #87bd25;
  text-transform: uppercase;
  transition: 0.4s;
  transform: translateX(-2000px);
}
.hero .hero-content .land .content a.btn:hover {
  background-color: #87bd25;
  color: #191A19;
  border-color: transparent;
}
.hero .hero-content .land .gallery {
  position: relative;
}
.hero .hero-content .land .gallery div {
  position: absolute;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}
.hero .hero-content .land .gallery div img {
  scale: 1.2;
}
.hero .hero-content .land .gallery .box-1 {
  top: 0;
  left: 0;
}
.hero .hero-content .land .gallery .box-2 {
  width: 70%;
  left: -70px;
  bottom: 40%;
  transform: translateY(50%);
}
.hero .hero-content .land .gallery .box-3 {
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
}

/* End Land *//*# sourceMappingURL=main.css.map */