body {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Aquire";
  src: url("../fonts/aquirebold-8ma60.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-moz-selection {
  color: #1a1a1a;
  background-color: #87bd25;
}

*::selection {
  color: #1a1a1a;
  background-color: #87bd25;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.btn {
  border: 4px solid white;
  color: #87bd25;
  text-transform: uppercase;
  transition: 0.4s;
}
.btn:hover {
  background-color: #87bd25;
  color: #111111;
  border-color: transparent;
}

/* Start Header */
header {
  height: 72px;
  position: relative;
  z-index: 1000;
}
header .navbar-brand img {
  width: 200px;
}
header .navbar-toggler {
  border-color: white;
  color: white;
}
header .navbar-toggler:focus {
  box-shadow: none;
  border-color: #87bd25;
}
header .navbar-brand svg {
  color: white;
  font-size: 30px;
}
header .navbar-brand svg:hover {
  color: #87bd25;
}
header .nav-link {
  color: white;
  text-transform: capitalize;
}
header .nav-link:hover, header .nav-link.active, header .nav-link:focus {
  color: #87bd25 !important;
}
header .dropdown-menu {
  background-color: #1a1a1a;
}
header .dropdown-menu a {
  color: white;
  transition: 0.4s;
}
header .dropdown-menu a:hover {
  background-color: #87bd25;
}

/* End Header */
/* Start Land */
.hero {
  background-color: #111111;
  height: 100vh;
  overflow: hidden;
}
.hero .hero-content .land {
  height: calc(100vh - 72px);
}
.hero .hero-content .land .container {
  height: 100%;
}
.hero .hero-content .land .container .row {
  height: 100%;
}
.hero .hero-content .land .content h1 {
  overflow: hidden;
  font-family: Aquire;
  color: #87bd25;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.6);
}
@media (max-width: 575px) {
  .hero .hero-content .land .content h1 {
    margin-bottom: 20px !important;
  }
}
.hero .hero-content .land .content p:last-of-type {
  font-size: 1rem;
  overflow: hidden;
}
.hero .hero-content .land .content a.btn {
  border: 4px solid white;
  color: #87bd25;
  text-transform: uppercase;
  transition: 0.4s;
  transform: translateX(-2000px);
}
.hero .hero-content .land .content a.btn:hover {
  background-color: #87bd25;
  color: #111111;
  border-color: transparent;
}
.hero .hero-content .land .gallery .img-container {
  position: relative;
  height: 400px;
}
.hero .hero-content .land .gallery .img-container > div {
  position: absolute;
  background-color: #0d1710;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.hero .hero-content .land .gallery .img-container > div > .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
}
.hero .hero-content .land .gallery .img-container > div img {
  scale: 1.2;
  background-color: #1a1a1a;
}
.hero .hero-content .land .gallery .img-container .box-1 {
  top: 0;
  left: 0;
}
.hero .hero-content .land .gallery .img-container .box-2 {
  width: 70%;
  left: -12%;
  bottom: 50%;
  transform: translate(0, 90%);
}
.hero .hero-content .land .gallery .img-container .box-3 {
  bottom: -7%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media (max-width: 991px) {
  header {
    height: auto;
    margin-bottom: 50px;
  }
  .hero {
    overflow: auto;
    height: auto;
  }
  .hero .container {
    height: auto;
  }
  .hero .container .row {
    height: auto;
  }
  .hero .hero-content .land {
    height: auto;
  }
  .hero .hero-content .land .gallery .img-container {
    display: none;
  }
}
@media (max-width: 575px) {
  .hero h1 {
    margin-bottom: 20px !important;
  }
}
/* End Land */
/* Start Sections Container */
.sections-container {
  position: relative;
}
.sections-container .sections-nav {
  height: 99.9%;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1000;
}
@media (max-width: 767px) {
  .sections-container .sections-nav {
    display: none;
  }
}
.sections-container .sections-nav nav {
  transition: 0.4s;
  position: sticky;
  top: calc(100vh - 230px);
  margin-bottom: 10px;
  transition: 0.4s;
  opacity: 0;
}
.sections-container .sections-nav nav.show {
  opacity: 1;
}
.sections-container .sections-nav nav.dark li {
  border-color: black;
}
.sections-container .sections-nav nav.dark li:hover, .sections-container .sections-nav nav.dark li.active {
  background-color: black;
}
.sections-container .sections-nav nav.dark li:hover a, .sections-container .sections-nav nav.dark li.active a {
  color: white;
}
.sections-container .sections-nav nav.dark li a {
  color: black;
}
.sections-container .sections-nav li {
  border: 1px solid white;
  height: 30px;
  width: 30px;
  font-size: 13px;
  border-radius: 50%;
  transition: 0.4s;
}
.sections-container .sections-nav li.active, .sections-container .sections-nav li:hover {
  height: 50px;
  background-color: white;
  border-radius: 10px;
}
.sections-container .sections-nav li.active a, .sections-container .sections-nav li:hover a {
  color: black;
}
.sections-container .sections-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
}

.sec-color {
  color: #c5f404;
}

.panel,
.years,
.solutions,
.impacts,
.steps,
.studies,
.partners,
.contact {
  min-height: 100vh;
  padding-top: 10vh;
  background-color: #111111;
}
.panel .title,
.years .title,
.solutions .title,
.impacts .title,
.steps .title,
.studies .title,
.partners .title,
.contact .title {
  font-family: "Bebas Neue", sans-serif;
  padding: 0 10vw;
}

.years .title {
  margin-bottom: 40px;
}
.years .description {
  color: #87bd25;
  padding: 0 20vw 10vh;
  line-height: 1.8;
  color: white;
  font-size: 22px;
}
@media (max-width: 575px) {
  .years .description {
    padding: 0 0 10vh;
    font-size: 15px;
  }
}
.years .discover {
  padding: 0 15vw;
}
@media (max-width: 575px) {
  .years .discover {
    padding: 0;
  }
}
.years .discover a {
  color: white;
  text-decoration: none;
}
.years .discover a span {
  padding: 20px;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.4s;
  transition-timing-function: ease-in;
}
.years .discover:hover span {
  background-color: white;
  color: black;
}

.solutions {
  height: auto;
}
.solutions .title {
  margin-top: 0;
  padding-top: 10vh;
  height: 50vh;
}
.solutions .description {
  height: 50vh;
}
@media (max-width: 991px) {
  .solutions {
    height: auto;
  }
  .solutions .title {
    margin-top: 0;
    padding: 10vh 0;
    height: auto;
  }
  .solutions .description {
    height: auto;
  }
}

.bordred-p {
  line-height: 1.8;
  position: relative;
  font-size: 22px;
}
@media (max-width: 991px) {
  .bordred-p {
    font-size: 15px;
  }
}
.bordred-p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  background-color: white;
  height: 100%;
  width: 1px;
  border-radius: 1px;
}
@media (max-width: 991px) {
  .bordred-p::before {
    height: 1px;
    width: 80%;
    top: calc(100% + 50px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.bordred-p-black {
  line-height: 1.3;
}
.bordred-p-black::before {
  background-color: black;
}

.impacts {
  height: auto;
  padding-top: 200px;
}
.impacts .impact {
  position: relative;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  border-radius: 50%;
  padding: 20px;
  color: #c5f404;
  border: 1px solid #c5f404;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.impacts .impact.impact-1 {
  aspect-ratio: unset;
  padding-top: 70px;
  padding-bottom: 70px;
  height: 300px;
}
.impacts .impact .impact-bg,
.impacts .impact .impact-content {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50rem;
  height: 100%;
  width: 100%;
}
.impacts .impact .impact-bg {
  background-size: cover;
  opacity: 0;
  z-index: 1;
  transition: 0.4s;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%);
}
.impacts .impact:hover .impact-bg {
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.impacts .impact.impact-1 .impact-bg {
  background-image: url("../images/Impact-1.jpg");
}
.impacts .impact.impact-2 .impact-bg {
  background-image: url("../images/Impact-2.jpg");
}
.impacts .impact.impact-3 .impact-bg {
  background-image: url("../images/Impact-3.jpg");
}
.impacts .impact.impact-4 .impact-bg {
  background-image: url("../images/Impact-4.jpg");
}
.impacts .impact .impact-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.impacts .impact .impact-content h3 {
  font-size: 5rem;
}
.impacts .impact .impact-content p {
  font-size: 1.5rem;
}

.steps {
  padding-top: 0;
  height: auto;
  position: relative;
  z-index: 100;
}
.steps .title-container {
  background-color: white;
  padding-top: 200px;
  padding-bottom: 200px;
}
.steps .title-container .title {
  padding-left: 40px;
}
.steps .step-img {
  overflow: hidden !important;
  height: 100vh;
}
.steps .step-img .step-img-holder {
  overflow: hidden;
}
.steps .step-img img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.steps .steps-container {
  position: relative;
}
.steps .steps-nav {
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1000;
  padding: 100px 20px 0;
}
.steps .steps-nav nav {
  position: sticky;
  top: 100px;
}
.steps .steps-nav li {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3vw;
  border-left: 2px solid gray;
  padding: 0 0 10px 20px;
  letter-spacing: -1px;
  opacity: 0.7;
  color: gray;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  transition: 0.4s;
}
.steps .steps-nav li.active, .steps .steps-nav li:hover {
  opacity: 1;
  border-color: #c5f404;
}
.steps .steps-nav li.active a, .steps .steps-nav li:hover a {
  transition: 0.4s;
  color: #c5f404;
}
.steps .steps-nav li a {
  color: white;
}
.steps .step-content {
  padding: 20vh 7vw;
  height: 100vh;
}
.steps .step-content h5 {
  font-size: 18px;
}
.steps .step-content li {
  display: flex;
  margin-bottom: 20px;
}
.steps .step-content li svg {
  color: #c5f404;
  font-size: 15px;
  margin-right: 20px;
  display: block;
  position: relative;
  top: 5px;
}

.studies {
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 1px solid;
  overflow: hidden;
}
.studies .title {
  padding: 0;
  font-size: 7vw;
}
.studies .description {
  font-size: 1.5vw;
  line-height: 1.2;
}
.studies .studies-container {
  padding: 0 1vw;
}
.studies .studies-container .study:first-of-type .layer {
  background-image: url("../images/Study-2.jpg");
}
.studies .studies-container .study:nth-of-type(2) .layer {
  background-image: url("../images/Study-1.jpg");
}
.studies .studies-container .study:nth-of-type(3) .layer {
  background-image: url("../images/Study-3.jpg");
}
.studies .studies-container .study {
  overflow: hidden;
  height: 80vh;
  position: relative;
}
.studies .studies-container .study .face-1,
.studies .studies-container .study .face-2,
.studies .studies-container .study .layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.studies .studies-container .study .face-1 {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  opacity: 1;
  transition: 0.4s;
}
.studies .studies-container .study .face-1 .tag {
  position: absolute;
  border: 1px solid black;
  color: black;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  top: 10px;
  left: 20px;
}
.studies .studies-container .study .face-1 .study-infos {
  padding: 20px;
  width: 100%;
}
.studies .studies-container .study .face-1 .study-infos h5 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
}
.studies .studies-container .study .face-1 .study-infos p {
  width: 100%;
  border-bottom: 1px solid;
  padding-bottom: 15px;
}
.studies .studies-container .study .face-2 {
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #c5f404;
  padding: 20px;
  opacity: 0;
}
.studies .studies-container .study .face-2 h5 {
  border-top: 1px solid;
  padding-top: 10px;
}
.studies .studies-container .study:hover .face-1 {
  opacity: 0;
}
.studies .studies-container .study:hover .face-2 {
  opacity: 1;
}
.studies .studies-container .study .layer {
  opacity: 0.7;
  background-size: cover;
}

.partners {
  height: auto;
  overflow-x: hidden;
}
.partners svg {
  font-size: 60px;
}
.partners .partners-holder {
  width: -moz-fit-content;
  width: fit-content;
  animation-name: infiniteScroll;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
}
.partners .partners-holder:hover {
  animation-play-state: paused;
}
.partners .partners-holder.partners-holder-2 {
  animation-direction: reverse;
}

@keyframes infiniteScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(0px - 50% - 1.5rem));
  }
}
.contact {
  background-color: #c5f404;
  height: auto;
  padding-top: 100px;
}
.contact .title {
  padding: 0;
  margin-bottom: 40px;
}
.contact .col-4 {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}
.contact .contact-sections-holder {
  width: -moz-fit-content;
  width: fit-content;
}
.contact .contact-sections-holder > div {
  min-width: 100%;
}
.contact .box {
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px solid black;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.contact .box .overlay,
.contact .box .content {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.8rem;
  transform: translate(-50%, -50%);
}
.contact .box .overlay {
  background-color: #111111;
  width: 0;
  height: 0;
  transition: 0.4s;
}
.contact .box .content {
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .box p {
  position: relative;
  top: 20px;
  transition: 0.4s;
  color: black;
}
.contact .box svg {
  opacity: 0;
  transition: 0.4s;
  color: #c5f404;
}
.contact .box:hover p {
  color: #c5f404;
  top: 0;
}
.contact .box:hover svg {
  opacity: 1;
}
.contact .box:hover .overlay {
  z-index: 1;
  width: 150%;
  height: 150%;
}
.contact .contact-form .iam {
  background-color: transparent;
  display: flex;
  border: none;
}
.contact .contact-form .iam > span {
  border-radius: 50rem;
  display: block;
  padding: 10px;
  border: 1px solid #111111;
}
.contact .contact-form .iam .contact-type {
  text-transform: lowercase;
}
.contact .contact-form .form input[type=text],
.contact .contact-form .form input[type=email],
.contact .contact-form .form textarea {
  padding: 10px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #111111;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.contact .contact-form .form input[type=text]::-moz-placeholder, .contact .contact-form .form input[type=email]::-moz-placeholder, .contact .contact-form .form textarea::-moz-placeholder {
  color: #111111;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  opacity: 0.6;
}
.contact .contact-form .form input[type=text]::placeholder,
.contact .contact-form .form input[type=email]::placeholder,
.contact .contact-form .form textarea::placeholder {
  color: #111111;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  opacity: 0.6;
}
.contact .contact-form .form input[type=text]:focus,
.contact .contact-form .form input[type=email]:focus,
.contact .contact-form .form textarea:focus {
  background-color: white;
  border: none;
  border-bottom: 1px solid #111111;
  outline: none;
}
.contact .contact-form .form .data-policy p {
  font-size: 0.7rem;
}
.contact .contact-form .form .submit {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 60px;
  display: flex;
}
.contact .contact-form .form .submit > span {
  border: 1px solid red;
  border-radius: 50rem;
  display: block;
  padding: 10px;
  border: 1px solid #111111;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-form .form .submit > span:first-child {
  height: 60px;
  width: calc(100% - 60px);
  text-transform: uppercase;
}
.contact .contact-form .form .submit > span:last-child {
  width: 60px;
  aspect-ratio: 1/1;
}

.btn-overlay {
  overflow: hidden;
  position: relative;
  transition: 0.4s;
}
.btn-overlay:hover {
  color: white;
}
.btn-overlay:hover .overlayed-content::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.btn-overlay .overlayed-content {
  position: relative;
  z-index: 2;
}
.btn-overlay .overlayed-content::before {
  content: "";
  background-color: #111111;
  border-radius: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  opacity: 0;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: 0.4s;
}

footer nav ul li {
  padding-bottom: 10px;
}
footer nav ul li a {
  font-family: "Bebas Neue", sans-serif;
  color: black;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}
footer svg {
  color: black;
  font-size: 30px;
}
footer .container:first-of-type {
  border-bottom: 1px solid;
}

/* End Missions *//*# sourceMappingURL=main.css.map */