/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: "Aquire";
  src: url("../fonts/aquirebold-8ma60.otf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-moz-selection {
  color: #1a1a1a;
  background-color: #87bd25;
}

*::selection {
  color: #1a1a1a;
  background-color: #87bd25;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* End Global Rules */
/* Start Components */
.btn {
  border: 4px solid white;
  color: #87bd25;
  text-transform: uppercase;
  transition: 0.4s;
}
.btn:hover {
  background-color: #87bd25;
  color: #191A19;
  border-color: transparent;
}

/* End Components */
/* Start Header */
header {
  height: 72px;
  position: relative;
  z-index: 1000;
}
header .navbar-brand img {
  width: 200px;
}
header .navbar-toggler {
  border-color: white;
  color: white;
}
header .navbar-toggler:focus {
  box-shadow: none;
  border-color: #87bd25;
}
header .navbar-brand svg {
  color: white;
  font-size: 30px;
}
header .navbar-brand svg:hover {
  color: #87bd25;
}
header .nav-link {
  color: white;
  text-transform: capitalize;
}
header .nav-link:hover, header .nav-link.active, header .nav-link:focus {
  color: #87bd25 !important;
}
header .dropdown-menu {
  background-color: #1a1a1a;
}
header .dropdown-menu a {
  color: white;
  transition: 0.4s;
}
header .dropdown-menu a:hover {
  background-color: #87bd25;
}

/* End Header */
/* Start Land */
.hero {
  background-color: #191A19;
  height: 100vh;
  overflow: hidden;
}
.hero .hero-content .land {
  height: calc(100vh - 72px);
}
.hero .hero-content .land .content h1 {
  overflow: hidden;
  font-family: Aquire;
  font-size: 100px;
  color: #87bd25;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 3px rgba(0, 0, 0, 0.4), 2px 2px 4px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.4), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 5px rgba(0, 0, 0, 0.6), 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.hero .hero-content .land .content p:last-of-type {
  font-size: 1rem;
  overflow: hidden;
}
.hero .hero-content .land .content a.btn {
  border: 4px solid white;
  color: #87bd25;
  text-transform: uppercase;
  transition: 0.4s;
  transform: translateX(-2000px);
}
.hero .hero-content .land .content a.btn:hover {
  background-color: #87bd25;
  color: #191A19;
  border-color: transparent;
}
.hero .hero-content .land .gallery .img-container {
  position: relative;
  height: 400px;
}
.hero .hero-content .land .gallery .img-container > div {
  position: absolute;
  background-color: #0d1710;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}
.hero .hero-content .land .gallery .img-container > div > .bg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1a1a1a;
}
.hero .hero-content .land .gallery .img-container > div img {
  scale: 1.2;
  background-color: #1a1a1a;
}
.hero .hero-content .land .gallery .img-container .box-1 {
  top: 0;
  left: 0;
}
.hero .hero-content .land .gallery .img-container .box-2 {
  width: 70%;
  left: -12%;
  bottom: 50%;
  transform: translate(0, 90%);
}
.hero .hero-content .land .gallery .img-container .box-3 {
  bottom: -7%;
  left: 50%;
  transform: translate(-50%, 50%);
}

@media (max-width: 991px) {
  header {
    height: auto;
    margin-bottom: 50px;
  }
  .hero {
    overflow: auto;
  }
  .hero .hero-content .land .gallery .img-container {
    display: none;
  }
}
@media (max-width: 575px) {
  .hero h1 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
}
/* End Land */
/* Start Missions */
.sections-container .sections-progress {
  position: fixed;
  bottom: 20px;
  left: 100px;
}

.missions {
  height: 300vh;
}

.sec-color {
  color: #c5f404;
}

.panel,
.years,
.solutions,
.impacts {
  height: 100vh;
  border: 1px solid red;
  background-color: #191A19;
}
.panel .title,
.years .title,
.solutions .title,
.impacts .title {
  margin-top: 10vh;
  font-size: 12vh;
  font-family: "Bebas Neue", sans-serif;
  padding: 0 10vw;
}

.years .description {
  color: #87bd25;
  padding: 0 25vw 10vh;
  line-height: 1.8;
  color: white;
  font-size: 22px;
}
.years .discover {
  padding: 0 15vw;
}
.years .discover a {
  color: white;
  text-decoration: none;
}
.years .discover a span {
  padding: 20px;
  border: 1px solid white;
}

.solutions .title {
  margin-top: 0;
  padding-top: 10vh;
  height: 50vh;
}
.solutions .description {
  height: 50vh;
}

.bordred-p {
  line-height: 1.8;
  position: relative;
  font-size: 22px;
}
.bordred-p::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  background-color: white;
  height: 100%;
  width: 1px;
  border-radius: 1px;
}

.impacts {
  height: auto;
}
.impacts .impact {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  border-radius: 50%;
  padding: 20px;
  color: #c5f404;
  border: 1px solid #c5f404;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.impacts .impact.rounded-pill {
  aspect-ratio: unset;
  padding-top: 70px;
  padding-bottom: 70px;
}
.impacts .impact h3 {
  font-size: 5rem;
}
.impacts .impact p {
  font-size: 1.5rem;
}

/* End Missions *//*# sourceMappingURL=main.css.map */