// Start Import Mixins

@use './helpers/_mixins' as *;

// End Import Mixins
// Start Variables

$main: #87bd25;
$second: #c5f404;
$back1: #111111;
$back2: #1a1a1a;
$back3: #4d4e52;
$dark: #110b37;
$duration: 0.4s;
// $three: #e357ef;
// $main-dark: #101928;
// $second-dark: #152744;
// $white-50: rgba(255, 255, 255, .5);

// End Variables
// Start Global Rules
body {
	font-family: 'Inter', sans-serif;
}

@font-face {
	font-family: 'Aquire';
	src: url('../fonts/aquirebold-8ma60.otf');
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

*::selection {
	color: $back2;
	background-color: $main;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.page {
	// height: 100vh;
	// overflow-y: scroll;
	// overflow-x: hidden;
	// perspective: 10px;
	// scroll-snap-type: y mandatory;
}

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

.page section {
	// scroll-snap-align: start;
}

// End Global Rules
// Start Components
.btn {
	border: 4px solid white;
	color: $main;
	text-transform: uppercase;
	transition: $duration;

	&:hover {
		background-color: $main;
		color: $back1;
		border-color: transparent;
	}
}

// End Components
/* Start Header */
header {
	height: 72px;
	position: relative;
	z-index: 1000;

	.navbar-brand {
		img {
			width: 200px;
		}
	}

	.navbar-toggler {
		border-color: white;
		color: white;

		&:focus {
			box-shadow: none;
			border-color: $main;
		}
	}

	.navbar-brand svg {
		color: white;
		font-size: 30px;

		&:hover {
			color: $main;
		}
	}

	.nav-link {
		color: white;
		text-transform: capitalize;

		&:hover,
		&.active,
		&:focus {
			color: $main !important;
		}
	}

	.dropdown-menu {
		background-color: $back2;


		a {
			color: white;
			transition: $duration;

			&:hover {
				background-color: $main;
			}
		}
	}
}

/* End Header */
/* Start Land */
.hero {
	height: 100vh;
	overflow: hidden;

	.hero-content {

		.land {
			height: calc(100vh - 72px);

			.container {
				height: 100%;

				.row {
					height: 100%;

					>div {
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}

			.content {

				h1 {
					@include breakpoints_xs {
						margin-bottom: 20px !important;
					}

					overflow: hidden;
					font-family: Aquire;
					color: $main;
					text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4),
					2px 2px 3px rgba(0, 0, 0, 0.4),
					2px 2px 4px rgba(0, 0, 0, 0.4),
					2px 2px 5px rgba(0, 0, 0, 0.4),
					2px 2px 5px rgba(0, 0, 0, 0.4),
					2px 2px 5px rgba(0, 0, 0, 0.4),
					2px 2px 5px rgba(0, 0, 0, 0.6),
					2px 2px 5px rgba(0, 0, 0, 0.6),
					2px 2px 5px rgba(0, 0, 0, 0.6),
					2px 2px 5px rgba(0, 0, 0, 0.6),
					2px 2px 5px rgba(0, 0, 0, 0.6),
					2px 2px 5px rgba(0, 0, 0, 0.6),
					2px 2px 3px rgba(0, 0, 0, 0.6);
				}

				p:last-of-type {
					font-size: 1rem;
					overflow: hidden;
				}


				.cta {
					overflow: hidden;
				}

				a {
					width: fit-content;
					display: block;
					border: 1px solid $second;
					padding: 20px;
				}
			}

			.rings {
				position: relative;
				width: 100%;
				height: 100%;

				@include breakpoints('md') {
					display: none;
				}
			}



			.ring {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;

				img {
					padding: 10%;
					position: relative;
					left: calc(-50% - 12px);

					&.reseized {
						left: 0;
					}
				}
			}
		}
	}
}

@include breakpoints('md') {
	header {
		height: auto;
		margin-bottom: 50px;
	}

	.hero {
		overflow: auto;
		height: auto;

		.container {
			height: auto;

			.row {
				height: auto;
			}
		}

		.hero-content {
			.land {
				height: auto;

				.gallery {

					.img-container {
						display: none;
					}
				}
			}
		}
	}
}

@include breakpoints_xs {
	.hero {
		h1 {
			margin-bottom: 20px !important;
		}
	}
}

/* End Land */
.page {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
}

.site-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	background-image: url(../images/hero.jpg);
	background-size: cover;
}

.site-loader {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100vh;
	overflow: hidden;
	z-index: 3;
	// background-color: $back1;
	max-height: 120vh;
	transition: $duration;

	&.hide {
		max-height: 0;
	}



	.container {
		.row {
			.rings {
				height: 100vh;
				position: relative;

				.ring {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(calc(-100% - 12px), -50%);
					transition: 1s;

					img {
						transition: $duration;
						width: 40vw;
						position: relative;
						animation: rotateLoader infinite 2s linear;
					}

					&.ring-2 {
						img {
							animation-delay: 0.5s;
						}
					}
				}
			}
		}
	}

	&.loaded {
		.container {
			.row {
				.rings {

					.ring {
						transform: translate(-50%, -50%);

						img {
							width: 20vw;
						}
					}
				}
			}
		}
	}
}

@keyframes rotateLoader {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}

.bg-particles {
	position: absolute;
	width: 100%;
	height: 1000vh;
	top: 100vh;
	left: 0;
	z-index: 1000;

	div {
		height: 100%;
	}
}

/* Start Sections Container */
.sections-container {
	position: relative;

	.sections-nav {
		height: 99.9%;
		position: absolute;
		top: 0;
		left: 20px;
		z-index: 1000;

		@include breakpoints('sm') {
			display: none;
		}

		nav {
			transition: $duration;
			position: sticky;
			top: calc(100vh - 230px);
			margin-bottom: 10px;
			transition: $duration;
			opacity: 0;

			&.show {
				opacity: 1;
			}

			&.dark {

				li {
					border-color: black;

					&:hover,
					&.active {
						background-color: black;

						a {
							color: white;
						}
					}

					a {
						color: black;
					}
				}
			}
		}


		li {
			border: 1px solid white;
			height: 30px;
			width: 30px;
			font-size: 13px;
			border-radius: 50%;
			transition: $duration;


			&.active,
			&:hover {
				height: 50px;
				background-color: white;

				a {
					color: black;
				}

				border-radius: 10px;
			}

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				transition: $duration;
				width: 100%;
				height: 100%;
				color: white;
				text-decoration: none;
			}
		}
	}
}

.sec-color {
	color: $second;
}

.panel,
.years,
.solutions,
.impacts,
.steps,
.studies,
.partners,
.contact {
	min-height: 100vh;
	padding-top: 10vh;
	background-color: $back1;

	.title {
		font-family: 'Bebas Neue', sans-serif;
		padding: 0 10vw;
	}
}

.years {
	.title {
		margin-bottom: 40px;
	}

	.description {
		color: $main;
		padding: 0 20vw 10vh;
		line-height: 1.8;
		color: white;
		font-size: 22px;

		@include breakpoints_xs {
			padding: 0 0 10vh;
			font-size: 15px;
		}
	}

	.discover {
		padding: 0 15vw;
		position: relative;
		z-index: 80000;

		@include breakpoints_xs {
			padding: 0;
		}

		a {
			color: white;
			text-decoration: none;

			span {
				padding: 20px;
				background-color: transparent;
				border: 1px solid white;
				transition: $duration;
				transition-timing-function: ease-in;

			}

		}

		&:hover span {
			background-color: white;
			color: black;
		}
	}
}

.solutions {
	height: auto;

	.title {
		margin-top: 0;
		padding-top: 10vh;
		height: 50vh;
	}

	.description {
		height: 50vh;
	}

	@include breakpoints('md') {
		height: auto;

		.title {
			margin-top: 0;
			padding: 10vh 0;
			height: auto;
		}

		.description {
			height: auto;
		}
	}
}

.bordred-p {
	line-height: 1.8;
	position: relative;
	font-size: 22px;

	@include breakpoints('md') {
		font-size: 15px;

	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: -50px;
		background-color: white;
		height: 100%;
		width: 1px;
		border-radius: 1px;

		@include breakpoints('md') {
			height: 1px;
			width: 80%;
			top: calc(100% + 50px);
			left: 50%;
			transform: translateX(-50%);

		}
	}
}

.bordred-p-black {
	line-height: 1.3;

	&::before {
		background-color: black;
	}
}

.impacts {
	height: auto;
	padding-top: 200px;

	@include breakpoints('md') {
		padding-top: 0;

		.title {
			margin-top: 0;
			padding: 10vh 0;
		}
	}

	.container {
		margin-top: 100px;
	}

	.impact {
		position: relative;
		text-align: center;
		font-family: 'Bebas Neue',
			sans-serif;
		border-radius: 50%;
		padding: 20px;
		color: $second;
		border: 1px solid $second;
		aspect-ratio: 1/1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&.impact-1 {
			aspect-ratio: unset;
			padding-top: 70px;
			padding-bottom: 70px;
			height: 300px;

			@include breakpoints('md') {
				aspect-ratio: 1/1;
				height: auto;
			}
		}

		.impact-bg,
		.impact-content {
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50rem;
			height: 100%;
			width: 100%;
		}

		.impact-bg {
			background-size: cover;
			opacity: 0;
			z-index: 1;
			transition: $duration;
			top: 50%;
			left: 50%;
			width: 0;
			height: 0;
			transform: translate(-50%, -50%);
		}

		&:hover .impact-bg {
			opacity: .4;
			width: 100%;
			height: 100%;
		}

		&.impact-1 {
			.impact-bg {
				background-image: url('../images/Impact-1.jpg');
			}
		}

		&.impact-2 {
			.impact-bg {
				background-image: url('../images/Impact-2.jpg');
			}
		}

		&.impact-3 {
			.impact-bg {
				background-image: url('../images/Impact-3.jpg');
			}
		}

		&.impact-4 {
			.impact-bg {
				background-image: url('../images/Impact-4.jpg');
			}
		}


		.impact-content {
			padding: 0 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			z-index: 2;

			h3 {}

			p {
				font-size: 1.5rem;
			}
		}
	}
}

.steps {
	padding-top: 0;
	height: auto;
	position: relative;
	z-index: 100;
	min-height: auto;

	.title-container {
		background-color: white;
		padding-top: 200px;
		padding-bottom: 200px;

		.title {
			padding-left: 40px;
		}
	}

	.step-img {
		overflow: hidden !important;
		height: 100vh;

		.step-img-holder {
			overflow: hidden;
		}

		img {
			width: 100%;
			height: 100vh;
			object-fit: cover;
			display: block;
		}
	}

	.steps-container {
		position: relative;
		display: none;

		@media (min-width: 992px) {
			display: block;
		}
	}

	.steps-nav {
		height: 100%;
		position: absolute;
		top: 0;
		left: 40px;
		z-index: 1000;
		padding: 100px 20px 0;

		nav {
			position: sticky;
			top: 100px
		}

		li {
			font-family: 'Bebas Neue',
				sans-serif;
			font-size: 3vw;
			border-left: 2px solid gray;
			padding: 0 0 10px 20px;
			letter-spacing: -1px;
			opacity: 0.7;
			color: gray;
			cursor: pointer;
			width: fit-content;
			transition: $duration;

			&.active,
			&:hover {
				opacity: 1;

				a {
					transition: $duration;
					color: $second;
				}

				border-color: $second;
			}

			a {
				color: white;
			}
		}
	}

	.step-content {
		padding: 20vh 7vw;
		height: 100vh;

		h5 {
			font-size: 18px;
		}

		li {
			display: flex;
			margin-bottom: 20px;

			svg {
				color: $second;
				font-size: 15px;
				margin-right: 20px;
				display: block;
				position: relative;
				top: 5px;
			}


		}
	}

	.steps-container-mobile {
		display: none;

		@media (max-width: 991px) {
			display: block;
		}

		.step-mobile {
			border-bottom: 1px solid gray;
			overflow: hidden;


			.step-mobile-toogler {
				color: white;
				margin: 0;
				transition: $duration;

				&.active {
					color: $second;
				}

				h5 {
					font-family: 'Bebas Neue', sans-serif;
				}
			}

			.step-mobile-content {
				overflow-y: hidden;
				max-height: 0;
				transition: max-height 1.5s;

				&.show {
					max-height: 999px;
				}
			}

			.step-content {
				height: auto;
				padding: 0;
			}
		}

	}
}

.studies {
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	border-bottom: 1px solid;
	overflow: hidden;

	.title {
		padding: 0;
	}

	.description {
		padding: 0 0 0;
		font-size: 22px;

		@include breakpoints('md') {
			padding: 0 20vw 10vh;
		}

		@include breakpoints_xs {
			font-size: 15px;
		}
	}

	.studies-container {
		padding: 0 1vw;

		.study:first-of-type {

			.layer {
				background-image: url('../images/Study-2.jpg');
			}

		}

		.study:nth-of-type(2) {

			.layer {
				background-image: url('../images/Study-1.jpg');
			}

		}

		.study:nth-of-type(3) {

			.layer {
				background-image: url('../images/Study-3.jpg');
			}

		}

		.study {
			overflow: hidden;
			height: 80vh;
			position: relative;

			.face-1,
			.face-2,
			.layer {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%
			}


			.face-1 {
				display: flex;
				flex-wrap: wrap;
				align-items: end;

				.tag {
					position: absolute;
					border: 1px solid black;
					color: black;
					width: fit-content;
					padding: 5px;
					top: 10px;
					left: 20px;
				}

				.study-infos {
					padding: 20px;
					width: 100%;

					h5 {
						font-family: 'Bebas Neue', sans-serif;
						font-size: 40px;
					}

					p {
						width: 100%;
						border-bottom: 1px solid;
						padding-bottom: 15px;
					}
				}

				opacity: 1;
				transition: $duration;
			}

			.face-2 {

				transition: $duration;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background-color: $second;
				padding: 20px;
				opacity: 0;

				h5 {
					border-top: 1px solid;
					padding-top: 10px;
				}


			}

			&:hover {
				.face-1 {
					opacity: 0;
				}

				.face-2 {
					opacity: 1;
				}
			}

			.layer {
				opacity: 0.7;
				background-size: cover;
			}
		}
	}
}

.partners {
	height: auto;
	overflow-x: hidden;

	.title {
		@include breakpoints('md') {
			margin-bottom: 60px;
		}
	}

	.description {
		padding: 0 0 0;
		font-size: 22px;

		@include breakpoints('md') {
			padding: 0 20vw 10vh;
		}

		@include breakpoints_xs {
			font-size: 15px;
		}
	}

	svg {
		font-size: 60px;
	}

	.partners-holder {
		width: fit-content;
		animation-name: infiniteScroll;
		animation-duration: 20s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		animation-play-state: running;

		&:hover {
			animation-play-state: paused;
		}

		&.partners-holder-2 {
			animation-direction: reverse;

		}

	}
}

@keyframes infiniteScroll {
	from {
		transform: translateX(0)
	}

	to {
		transform: translateX(calc(0px - 50% - 1.5rem));
	}
}

.contact {
	background-color: $second;
	height: auto;
	padding-top: 100px;

	.title {
		padding: 0;
		margin-bottom: 40px;
	}

	.col-lg-6 {
		overflow: hidden;
	}

	.contact-sections-holder {
		width: fit-content;

		&>div {
			min-width: 100%;
		}
	}

	.box {
		width: 100%;
		aspect-ratio: 1/1;
		border: 1px solid black;
		border-radius: 0.8rem;
		text-transform: uppercase;
		font-weight: bold;
		position: relative;
		overflow: hidden;
		cursor: pointer;

		.overlay,
		.content {
			position: absolute;
			top: 50%;
			left: 50%;

			border-radius: 0.8rem;
			transform: translate(-50%, -50%);
		}

		.overlay {
			background-color: $back1;
			width: 0;
			height: 0;
			transition: $duration;
		}

		.content {
			z-index: 2;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		p {
			position: relative;
			top: 20px;
			transition: $duration;
			color: black;
		}

		svg {
			opacity: 0;
			transition: $duration;
			color: $second;
		}

		&:hover {
			p {
				color: $second;
				top: 0;
			}

			svg {
				opacity: 1;
			}

			.overlay {
				z-index: 1;
				width: 150%;
				height: 150%;
			}
		}
	}

	.contact-form {


		.iam {
			background-color: transparent;
			display: flex;
			border: none;

			&>span {
				border-radius: 50rem;
				display: block;
				padding: 10px;
				border: 1px solid $back1;
			}

			.contact-type {
				text-transform: lowercase;
			}
		}

		.form {

			input[type="text"],
			input[type="email"],
			textarea {
				padding: 10px;
				margin-bottom: 15px;
				display: block;
				width: 100%;
				background-color: transparent;
				border: none;
				border-bottom: 1px solid $back1;
				border-top-right-radius: 10px;
				border-top-left-radius: 10px;

				&::placeholder {
					color: $back1;
					font-family: 'Bebas Neue', sans-serif;
					font-size: 1.5rem;
					opacity: .6;
				}

				&:focus {
					background-color: white;
					border: none;
					border-bottom: 1px solid $back1;
					outline: none;
				}
			}

			.data-policy {
				p {
					font-size: 0.7rem;
				}
			}

			.submit {
				background-color: transparent;
				border: none;
				width: 100%;
				height: 60px;
				display: flex;

				&>span {
					border: 1px solid red;
					border-radius: 50rem;
					display: block;
					padding: 10px;
					border: 1px solid $back1;
					display: flex;
					justify-content: center;
					align-items: center;

					&:first-child {
						height: 60px;
						width: calc(100% - 60px);
						text-transform: uppercase;
					}

					&:last-child {
						width: 60px;
						aspect-ratio: 1/1;
					}
				}


			}
		}
	}
}

.btn-overlay {

	overflow: hidden;
	position: relative;
	transition: $duration;

	&:hover {
		color: white;

		.overlayed-content {
			&::before {
				width: 100%;
				height: 100%;
				opacity: 1;
			}
		}
	}

	&.btn-overlay-white {
		color: white;

		a {
			color: white;
			transition: $duration;
		}

		&:hover {
			color: $back1;

			a {
				color: $back1;
			}
		}

		.overlayed-content {
			&::before {
				background-color: $second;
			}
		}
	}

	.overlayed-content {
		position: relative;
		z-index: 2;

		&.link {
			text-decoration: none;
		}

		&::before {
			content: '';
			background-color: $back1;
			border-radius: 50rem;
			position: absolute;
			top: 50%;
			left: 50%;
			height: 10px;
			width: 10px;
			opacity: 0;
			transform: translate(-50%, -50%);
			z-index: -1;
			transition: $duration;
		}
	}

}

footer {

	nav {
		ul {
			li {
				a {
					font-family: 'Bebas Neue', sans-serif;
					color: black;
					font-size: 25px;
					font-weight: 400;
					text-decoration: none;
				}

				padding-bottom: 10px;
			}
		}
	}

	svg {
		color: black;
		font-size: 30px;
	}

	.container:first-of-type {
		border-bottom: 1px solid;
	}
}

/* End Missions */