/* Start Variables */

$main: #87bd25;
$second: #D8E9A8;
$back1: #191A19;
$back2: #25262a;
$back3: #4d4e52;
$dark: #110b37;
$duration: 0.4s;
// $three: #e357ef;
// $main-dark: #101928;
// $second-dark: #152744;
// $white-50: rgba(255, 255, 255, .5);

/* End Variables */
/* Start Global Rules */
body {
	font-family: 'Open Sans', sans-serif;
}

@font-face {
	font-family: 'Aquire';
	src: url('../fonts/aquirebold-8ma60.otf');
}

;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

*::selection {
	color: $back2;
	background-color: $main;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

/* End Global Rules */
/* Start Components */


/* End Components */
/* Start Header */
header {
	max-height: 72px;
	position: relative;
	z-index: 1000;

	.navbar-brand {
		img {
			width: 200px;
		}
	}

	.navbar-toggler {
		border-color: white;
		color: white;

		&:focus {
			box-shadow: none;
			border-color: $main;
		}
	}

	.navbar-brand svg {
		color: white;
		font-size: 30px;

		&:hover {
			color: $main;
		}
	}

	.nav-link {
		color: white;
		text-transform: capitalize;

		&:hover,
		&.active,
		&:focus {
			color: $main !important;
		}
	}

	.dropdown-menu {
		background-color: $back2;


		a {
			color: white;
			transition: $duration;

			&:hover {
				background-color: $main;
			}
		}
	}
}

/* End Header */
/* Start Land */
.hero {
	position: relative;
	background-color: $back1;
	height: 100vh;

	.hero-content {
		overflow: hidden;
		position: relative;
		z-index: 10000;

		.land {
			height: calc(100vh - 72px);
			position: relative;

			.content {
				position: relative;
				z-index: 20000;

				h1 {
					font-family: Aquire;
					font-size: 100px;
					color: $main;
					line-height: 90%;
					text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4),
						2px 2px 3px rgba(0, 0, 0, 0.4),
						2px 2px 4px rgba(0, 0, 0, 0.4),
						2px 2px 5px rgba(0, 0, 0, 0.4),
						2px 2px 5px rgba(0, 0, 0, 0.4),
						2px 2px 5px rgba(0, 0, 0, 0.4),
						2px 2px 5px rgba(0, 0, 0, 0.6),
						2px 2px 5px rgba(0, 0, 0, 0.6),
						2px 2px 5px rgba(0, 0, 0, 0.6),
						2px 2px 5px rgba(0, 0, 0, 0.6),
						2px 2px 5px rgba(0, 0, 0, 0.6),
						2px 2px 5px rgba(0, 0, 0, 0.6),
						2px 2px 3px rgba(0, 0, 0, 0.6);
				}

				p:last-of-type {
					font-size: 1rem;
				}



				a.btn {
					border: 4px solid white;
					color: $main;
					text-transform: uppercase;
					transition: $duration;

					&:hover {
						background-color: $main;
						color: $back1;
						border-color: transparent;
					}
				}


			}

			.gallery {}
		}
	}
}



@media (max-width: 991px) {
	header {
		margin-bottom: 50px;
	}

	.land {
		height: auto;

		.content {
			h1 {
				font-size: 1.5rem;
			}

			p {
				font-size: 1rem;
			}

			.mobile-photo {
				display: block;
			}
		}


		.photo {

			.img-holder {
				width: 100%;
				display: none;

				.circle {
					display: none;
				}

				// img {
				// max-width: 100%;
				// display: block;
				// }
			}

		}

		.img-container {
			display: none;
		}
	}

	.overlay {
		height: 100%;
	}

}

/* End Land */